<div class="page-container">
  <!-- Header -->
  <div class="dashboard-header">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <h1>Gestión de Salud Animal</h1>
    <img src="assets/profile-icon.png" alt="Profile" class="profile-icon" />
  </div>

  <!-- Content (Dashboard Grid) -->
  <div class="dashboard-container">
    <div class="dashboard-grid">
      <a href="gestion-animales" routerLink="/gestion-animales" class="dashboard-card">
        <img src="assets/icon1.png" alt="Icon 1" />
        <span>Gestión de Animales</span>
      </a>
      

      <a href="register" routerLink="/register" class="dashboard-card">
        <img src="assets/icon3.png" alt="Icon 3" />
        <span>Registro</span>
      </a>
  
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>Gestión de Salud Animal</h2>
        <p>Este sistema está diseñado para gestionar la salud de los animales, proporcionando soluciones profesionales para el cuidado y bienestar animal.</p>
      </div>
      
      <div class="footer-section contact">
        <h3>Contacto</h3>
        <p>+57 300 123 4567</p>
        <p>contactogestionsaludanimal.com</p>
      </div>
      
      <div class="footer-section social">
        <h3>Síguenos</h3>
        <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
        <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
      </div>
    </div>
  
    <div class="footer-bottom">
      &copy; 2024 Gestión de Salud Animal | Todos los derechos reservados
    </div>
  </footer>
</div>
